In [1]:
import pymysql

In [2]:
x=pymysql.connect(user='root',host='localhost',password='Password@123',database='project3')
cr=x.cursor()

In [3]:
cr.execute('insert into data3(id,name,mob,dept) values(123,"rushmi",987653,7)')
print("success")
x.commit()
x.close()

success

In [4]:
import pymysql
x=pymysql.connect(user='root',host='localhost',password='Password@123',database='project3')
cr=x.cursor()

In [ ]:
cr.execute('create table data(id int(6),name char(10),age int(3))')

In [ ]:
cr.execute('insert into data(id,name,age) values(1234, "vinay", 22)')
cr.execute('insert into data(id,name,age) values(2345, "logan", 21)')
cr.execute('insert into data(id,name,age) values(3456, "elric", 23)')
cr.execute('insert into data(id,name,age) values(4567, "adam", 22)')
x.commit()
x.close()

In [ ]:
import pymysql
x=pymysql.connect(user='root',host='localhost',password='Password@123',database='project4')
cr=x.cursor()

In [ ]:
cr.execute('create table states(sno int(6),state char(15),language char(10),city char(15))')

In [ ]:
cr.execute('insert into states(sno,state,language,city) values(1,"ANDHRA","telugu","vijayawada")')
cr.execute('insert into states(sno,state,language,city) values(2,"TAMILNADU","tamil","chennai")')
cr.execute('insert into states(sno,state,language,city) values(3,"KERALA","malayalam","Tcr")')
cr.execute('insert into states(sno,state,language,city) values(4,"KARNATAKA","kannada","Bnglr")')
x.commit()
x.close()